body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #3e006b /*rgb(59, 16, 252)*/;
}

.navbar-brand {
    margin-left: 1.6rem;
}

.navbar-nav {
    margin-left: 45rem;
} 

.nav-item {
    margin-right: 0.4rem;
}

.header {
    background-size: 100%;
    background-position-y: center;
    background-repeat: repeat;
    background-image: url(/images/capa.jpg);
    display: flex;
    margin-top: 4%;
    height: 90vh;  
    background-color: #3e006b;
}

.textInitial, .imageHeader {
    width: 50%;
    margin: 120px 0 0 0;
    text-align: center;
    color: white;
}

.textInitial h1 {
    margin-top: 8%;
    font-size: 2rem;
}

.textInitial h2 {
    margin: 5%;
    font-size: 1.6rem;
}

.textInitial button {
    height: 70px;
    width: 140px;
    border-radius: 0.4rem;
    background-color: rgb(206, 206, 206);
    text-decoration: none;
}

.textInitial button img {
    height: 30px;
    width: 30px;
}

.textInitial a {
    color: rgb(7, 83, 248);
    font-size: large;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
}

.imageHeader img {
    border-radius: 50%;
    border: 3px #3e006b solid;
}

.sec-1 {
    background-color: #3e006b;
}

.topic-1 {
    padding-top: 2%;
}

.titles {
    width: 100%;
    height: 70vh;
    display: flex;
}

.topic-1 {
    text-align: center;
    width: 100%;
    color: white;
}

.graduate {
    display: inline-flexbox;
    margin: 2%;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 1%;
    width: 50rem;
    height: 20rem;
}

.graduate h1 {
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

.graduate h2 {
    font-size: 1rem;
    text-align: center;
    color: white;
}

.graduate h3 {
    margin-top: 2rem;
    font-size: 0.8rem;

    color: white;
}

.graduate h3 p {
    text-align: center;
    text-orientation: sideways-right;
}

.XP {
    display: inline-flexbox;
    padding: 1%;
}

.XP h1 {
    margin-top: 1%;
    text-align: center;
}

.carousel-inner {
    height: 45rem;
    text-align: center;
}

.carousel-item img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.carousel-item .active h1 {
    margin-top: 2%;
    font-size: 1.6rem;
    text-align: center;
}

.carousel-item .active h2 p {
    margin-top: 2%;
    font-size: 0.9rem;
    text-align: left;  
}

.carousel-item h1 {
    
    margin-top: 2%;
    font-size: 1.6rem;
    text-align: center;
}

.carousel-item h2 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    font-size: 0.9rem;
    text-align: left;
}

.projects {
    background-color: #3e006b;
    width: 100%;
    height: 180vh;
}

.projects h1 {
    padding-top: 2%;
    text-align: center;
    color: white;
}

.show {
    display: inline-flex;
    margin: 2% 3% 2%;
    justify-content: space-between;
}

.p-image {
    width: 100%;
}

.p-image img {
    width: 300px;
    height: 300px;
    border-radius: 25%;
    border: 3px white solid;
    margin-left: 4rem;
}

.p-description {
    color: white;
    text-align: justify;
    justify-content: center;
    margin-top: 100px;
}

.p-description a {
    color: orange;
}

.show .d2 {
    margin-left: -5rem;
}

.show .d3 {
    margin-left: -13rem;
}

.paper {
    height: 100vh;
}

.certificados {
    padding-top: 2%;
    text-align: center;
}

.certificados ul li {
    text-align: left;
    margin: 1.2rem 0 0 2rem;
}

/*Animação de Scroll*/

.anime {
    opacity: 0;
    transform: translate3d(-100px,0,0);
    transition: 0.3s;
}

.anime-start {
    opacity: 1;
    transform: translate3d(0,0,0);
}


